flows/CDM_Compliance_Task_Creation_for_KYC_AML-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_If_Assigned_Group_Is_Present_Decision</name>
        <label>Check If Assigned Group Is Present Decision</label>
        <locationX>394</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Create_Compliance_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group Present</defaultConnectorLabel>
        <rules>
            <name>User_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Not Present</label>
        </rules>
    </decisions>
    <description>PBI-30976</description>
    <interviewLabel>CDM Compliance Task Creation for KYC AML {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CDM Compliance Task Creation for KYC AML</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Compliance_Task</name>
        <label>Create Compliance Task</label>
        <locationX>395</locationX>
        <locationY>509</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>RelationshipId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Id</name>
        <label>Get Record Id</label>
        <locationX>388</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_id</name>
        <label>Get User Id</label>
        <locationX>389</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Assigned_Group_Is_Present_Decision</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Record_Id</startElementReference>
    <textTemplates>
        <name>FinalSubject</name>
        <text>{!Subject} &quot;{!RelationshipName}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskSubject</name>
        <text>{!Subject} &quot;{!RelationshipName}&quot;</text>
    </textTemplates>
    <variables>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelationshipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
